{% extends 'base.html.twig' %}

{% block title %}Hello BrandsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container my-5">
        <div class="d-flex align-items-center align-content-center justify-content-between">
            <h1 class="display-2">{{ brand }}</h1>
            <div>
                <a class="btn btn-primary" href="{{ path('app') }}" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"></path>
                    </svg>
                    Homepage
                </a>
                <button type="button" class="btn btn-primary" id="download-csv">Download selected products in format .CSV</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="filter-section col-3 p-3">
                    <h3>Filters:</h3>
                <hr>
                <form action="">

                    <div class="colors my-2">
                        <h5>Colors:</h5>
                        <input class="form-check-input" type="checkbox" value="" id="colorCheckCheckedAll" name="" checked>
                        <label class="form-check-label h6" for="colorCheckCheckedAll">
                            All
                        </label>
                        <div class="filters ps-3">
                            {% for key,color in colors %}
                                <div class="form-check">
                                    <input class="form-check-input check-color" type="checkbox" value="" id="colorCheckChecked{{ key }}" name="{{ color['color'] }}" checked>
                                    <label class="form-check-label" for="colorCheckChecked{{ key }}">
                                        {{ color['color'] }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="materials my-2">
                        <h5>Materials:</h5>
                        <input class="form-check-input" type="checkbox" value="" id="materialCheckCheckedAll" name="" checked>
                        <label class="form-check-label h6" for="materialCheckCheckedAll">
                            All
                        </label>
                        <div class="filters  ps-3">
                            {% for key,material in materials %}
                                <div class="form-check">
                                    <input class="form-check-input check-material" type="checkbox" value="" id="materialCheckChecked{{ key }}" name="{{ material['material'] }}" checked>
                                    <label class="form-check-label" for="materialCheckChecked{{ key }}">
                                        {{ material['material'] }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="price my-2">
                        <h5>Price:</h5>
                        <div class="filters ps-3">
                            <div class="min-price">
                                <label for="minPriceRange" class="form-label">Min 0:</label>
                                <input type="range" class="form-range" min="0" max="{{ maxPrice }}" id="minPriceRange" value="0">
                            </div>
                            <div class="max-price">
                                <label for="maxPriceRange" class="form-label">Max {{ maxPrice }}:</label>
                                <input type="range" class="form-range" min="0" max="{{ maxPrice }}" id="maxPriceRange" value="{{ maxPrice }}">
                            </div>
                        </div>
                    </div>

{#                    <div class="availability my-2">#}
{#                        <h5>Availability:</h5>#}
{#                        <div class="filters ps-3">#}
{#                            <div class="form-check">#}
{#                                <input class="form-check-input" type="checkbox" value="" id="avaCheckChecked" name="availability" checked>#}
{#                                <label class="form-check-label" for="avaCheckChecked">#}
{#                                    Availability#}
{#                                </label>#}
{#                            </div>#}{#$('#maxPriceRange').val()#}
{#                        </div>#}
{#                    </div>#}

                    <button type="submit" class="btn btn-primary mt-4" id="submitFilters">Submit filters</button>

                </form>
            </div>
            <div class="cards-section row col-9 align-content-start">
                {% include './brands/products.html.twig' with {'products': products} %}
            </div>
        </div>
    </div>

{% endblock %}